<% if(success && success.length){ %>                  <!-- becoz here success is an array, it will exist even if it is empty. 
                                                           Hence, if length of success array is not zero, then it will execute. -->
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%=success%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>



<% if(error && error.length){ %>                  <!-- becoz here error is an array, it will exist even if it is empty. 
                                                           Hence, if length of error array is not zero, then it will execute. -->
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%=error%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>