body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.material-symbols-outlined{
    color: #fe424d;
    font-size: 2rem !important;     /* To override the properties of already apllied bootstrap properties */
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.f-info-links, .f-info-socials, .f-info-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

.f-info-socials i:hover{
    scale: 1.3;
}

/*Card*/
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-image{
    height: 35vh;
}

.btns{
    display: flex;
}

.show-edit-btn{
    height: 2.4rem;
}